.img--logo {
  margin: $gutter auto;
  display: block;
}

.img--avatar {
  margin: $gutter auto;
  display: block;
}

.img--frame {
  margin: $gutter auto;
  display: block;
  border: 1px solid lightgrey;
  padding: 0.7em;
}