.link {
  color: $color-secondary;
  font-weight: bold;
  font-family: $font-headers;
  text-decoration: none;
}

.nav__item a {
  font-family: $font-headers;
}

.card h1 {
  color: $color-primary;
  font-family: $font-headers;
}

.card h4 {
  color: $color-copy;
  font-family: $font-headers;
}

.card p {
  font-family: $font-copy;
  color: $color-copy;
  line-height: 1.4;
}